@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kaushan Script', cursive;
    background-color: rgba(0, 0, 0, 0.808);
    background-image: url(./texture-gradient-simple-background-blue-wallpaper-preview.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
}
.bg-light {
    background-color: #949494 !important;
}
element.style {
    background-color: #6d8694;
}
.menu-flex{
    display: flex;
}
.top{
    font-size: 30px;
}
.top-1{
    margin-left: 18rem;
}

.top-2{
    font-family: 'Carter One', cursive;
    font-size: 50px;
    color: gold;
    text-decoration: none;
}
.nav-item{
    margin-left: 3rem;
}
.carousel-item {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
.head{
    font-size: 50px;
    text-shadow: 4px 3px 3px black;
    font-family: 'Carter One', cursive;
    color: gold;
}
#wan{
    font-size: 30px;
    text-shadow: 4px 3px 3px black;
}
