@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kaushan Script', cursive;
    background-color: rgba(0, 0, 0, 0.808);
    background-image: url(./texture-gradient-simple-background-blue-wallpaper-preview.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
}
.bg-light {
    background-color: #949494 !important;
}
element.style {
    background-color: #6d8694;
}
.menu-flex{
    display: flex;
}
.top{
    font-size: 30px;
}
.top-1{
    margin-left: 18rem;
}

.top-2{
    font-family: 'Carter One', cursive;
    font-size: 50px;
    color: gold;
    text-decoration: none;
}
.nav-item{
    margin-left: 3rem;
}
.carousel-item {
    height: 90vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
.head{
    font-size: 50px;
    text-shadow: 4px 3px 3px black;
    font-family: 'Carter One', cursive;
    color: gold;
}
#wan{
    font-size: 30px;
    text-shadow: 4px 3px 3px black;
}

/* drinks and snacks styles */

.mid{
    margin-top: 2px;
}
.drink-nav{
    font-size: 30px;
    color: gold;
    text-shadow: 4px 3px 3px black;
    padding: 0px 10px;
}
.mid-h1{
    font-family: 'Carter One', cursive;
    font-size: 130px;
    color: gold;
    text-shadow: 3px 2px 3px black;
}
.para-1{
    font-family: 'Carter One', cursive;
    font-size: 40px;
    color: gold;
    text-shadow: 3px 2px 3px black;
}
.para-2{
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 3px 2px 3px black;
}
.soda{
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.soda-1{
    height: 50vh;
    width: 20%;
    cursor: pointer;
    margin-left: 40px;
    border: -2px solid gold;
    box-shadow: 3px -2px 10px rgb(163, 163, 163);
}
.soda-1:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-out;
    box-shadow: 3px -2px 10px gold;
}

.form{
    justify-content: center;
}
.tabs{
    width: 20%;
    margin-left: 40px;
    padding-top: 2rem;
}
.order{
    position: relative;
    /* top: 2rem; */
    left: 44%;
    width: 40%;
    border-radius: 20px;
    margin: 3rem;
}
.size{
    font-size: 30Px;
    color: gold;
    text-shadow: 3px 2px 3px black;
}
.name{
    margin: 5px 46.3rem;
    width: 40%;
}
.pizzaNumber{
    position: relative;
    top: -1rem;
    left: 34%;
    width: 30%;
    margin: 3rem;
}
#danger{
    width: 100%;
    padding: 3px 10rem;
    font-size: 30Px;
    color: gold;
}
/* snacks */
.rounded{
    width: 100%;
    height: 40vh;
} 
.Number{
    color: honeydew;
    font-size: 30px;
    margin-top: -10px;
}